#div-formulario {
    padding: 1em;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#div-formulario input,button,select {
    padding: 0.5em;
    border-radius: 5px;
}

#div-formulario button {
    background-color: rgb(77, 176, 1);
}

#div-formulario button:hover {
    background-color: rgb(29, 109, 15);
    cursor: pointer;
}

#numero-peliculas {
    text-align: center;
    color: rgb(10, 213, 10);
    font-size: 1.3rem;
}