#div-formulario {
    padding: 1em;
}
#div-formulario input,button,select {
    padding: 0.5em;
    border-radius: 5px;
}

#div-formulario button {
    background-color: rgb(77, 176, 1);
}

#div-formulario button:hover {
    background-color: rgb(29, 109, 15);
    cursor: pointer;
}