/* Establece el fondo naranja suave y el texto blanco para toda la página */
body {
    background-color: #FFEBCC; /* Naranja muy suave */
    color: #333; /* Texto oscuro para contraste */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo principal para el contenedor */
#div-principal {
    padding: 40px;
    text-align: center;
}

/* Estilos del header */
header {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    background-color: #999;
    color: #FFEBCC;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para el contenedor de los botones de la navegación */
#nav-botones {
    margin-bottom: 30px;
}

.boton-menu {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    transition: background-color 0.3s;
}

/* Botón Play Station */
#boton-play {
    background-color: #FF6600; /* Naranja brillante */
}

#boton-play:hover {
    background-color: #FF4500; /* Naranja más intenso */
}

/* Botón Xbox */
#boton-xbox {
    background-color: #4CAF50; /* Verde para Xbox */
}

#boton-xbox:hover {
    background-color: #45A049; /* Verde más oscuro */
}

/* Botón Nintendo */
#boton-nintendo {
    background-color: #E60012; /* Rojo para Nintendo */
}

#boton-nintendo:hover {
    background-color: #C10010; /* Rojo más oscuro */
}

/* Botón Todos */
#boton-todos {
    background-color: #5f5c5c; /* Gris para Todos */
}

#boton-todos:hover {
    background-color: #2d2b2b; /* Gris más oscuro */
}

/*  Estilo para select de plataformas */
#consola {
    font-size: 1.3rem;
    margin-left: 30px;
    background-color: lightblue;
    border-radius: 10px;
    padding-bottom: 5px;
    width: 250px;
    opacity: .7;
}

#consola:hover {
    opacity: 1;
}

/* Estilo para el contenedor de juegos */
#div-juegos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    padding: 20px;
}

/* Estilo para cada artículo de juego */
.juego {
    background-color: #FFD699; /* Naranja claro */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.juego:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.juego span {
    display: block;
    margin: 5px 0;
}

/* Estilo para los títulos de los juegos */
.juego span:first-of-type {
    font-size: 20px;
    font-weight: bold;
    color: #FF6600; /* Naranja más oscuro para el título */
}

/* Estilo adicional para los otros textos */
.juego span:nth-of-type(2),
.juego span:nth-of-type(3) {
    font-size: 14px;
    color: #999; /* Gris suave */
}

